*,*:visited{
    color:#222;
    list-style: none;
    padding:0px;
    margin:0px;
}

body{
    margin: 20px auto 0 auto;
    max-width: 700px;
    padding: 0 10px;
    font-family: sans-serif;
    background:#f8f8f8;
}

a:hover{ background: #444; color: #fff; text-decoration:none;}
h1,h2,h3,p{ line-height:1.2; }
h1{ font-size: 140%; }
h2{ font-size: 100%; }
h3{ font-size: 100%; }
p{ margin-bottom:1.4em; line-height:1.35;}
hr{ border:0; border-top: 2px solid #aaa; }
ul{ padding-inline-start: 0px; }
ul.inline li{ display:inline;}
li{padding-right:0.3em;}

img{
    max-width:100%;
}
span.imgfooter{
    position:relative;
    font-size:80%;
}

code {
    color:#181818;
	background: #eee;
	border: 2px solid #aaa;
	display: block;
	font-family: monospace;
	overflow-x: auto;
	padding: 5px;
	word-wrap: normal;
}

header{
    position: sticky;
    top:0px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-20px;
    z-index:1;
    background:#f8f8f8;
    border-bottom:2px solid #bbb;
    font-weight: bold;
}

header a{ margin: 0 0.6em 0 0; text-decoration:none;}
header a.right{ float: right; margin: 0 0 0 0.6em;}

h2{
    position: sticky;
    display:block;
    top: 41px;
    padding:10px 0 5px 0;
    background:#f8f8f8;
    width:100%;
    border-bottom:2px solid #bbb;
    z-index:2;
    margin-bottom:0.8em;
}
article h2 span{  }
article h2 time{float:right; font-weight:normal;}
