<div class="player" data-url="{{ include.url }}">
    <input type="range" class="amplitude-volume-slider" data-amplitude-song-index=""/>
    <div class="amplitude-play-pause" data-amplitude-song-index=""></div>
	<div class="data">
        <span class="title">{{ include.title }}</span>
        <span class="playing">{{ include.desc }}</span>
	</div>
	<div class="volumectl">
		<span class="amplitude-volume-up fa fa-plus"></span>
		<span class="volumeicon fa fa-volume-up"></span>
		<span class="amplitude-volume-down fa fa-minus"></span>
		<span class="indicator"></span>
	</div>
</div>
