<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="description" content="">
    <!-- <link rel="shortcut icon" type="image/png" href="favicon.png" /> -->
    <title>Radio Klein – {{page.title}}</title>
    <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/amplitude.js"></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/fork-awesome/css/fork-awesome.min.css">
</head>
