<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adrian Lattes">
    <meta name="description" content="Página personal de Adrián Lattes. Hablo sobre matemáticas, música, viajes en bicicleta, programación web y software libre.">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <title>Blog de música – {{page.title}}</title>
    <link href="/assets/reset.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
</head>
