*,*:visited{
    color:#222;
    padding:0px;
    margin:0px;
}

body{
    margin: 20px auto 0 auto;
    max-width: 700px;
    padding: 0 10px;
    font-family: sans-serif;
    background:#f8f8f8;
}

a:hover{ background: #444; color: #fff; text-decoration:none;}
h1,h2,h3,p{ line-height:1.2; }
h1{ font-size: 140%; }
h2{ font-size: 100%; }
h3{ font-size: 100%; }
p{ margin-bottom:1.4em; line-height:1.35;}
hr{ border:0; border-top: 2px solid #aaa; }
ul{ margin-left: 20px; margin-bottom:1em;}
p + ul { margin-top:-1em; }
ul.inline li{ display:inline;}
li{padding-right:0.3em;}
.right{float:right;}

img{
    width:100%;
    max-width:100%;
    margin:1em 0;
}

span.imgfooter{
    position:relative;
    font-size:80%;
}

code {
    color:#181818;
	background: #eee;
	border: 2px solid #aaa;
	display: block;
	font-family: monospace;
	overflow-x: auto;
	padding: 5px;
	word-wrap: normal;
}

.tablecontainer{ width:100%; overflow-x:auto; }
table {
    width:100%;
    border-collapse: collapse;
    table-layout:fixed;
}

th, td {
    width:100%;
    padding:9px;
    box-sizing:border-box;
    border: 1px solid black;
    overflow: hidden;
    text-align:center;
}

.player{
    height:72px;
    padding:10px;
    margin: 20px 0;
    background:#e0e0e0;
    border-radius:7px;white-space:nowrap;overflow:hidden;
}
.player > div { vertical-align:middle; }
.player input {display:none;}
.player .amplitude-play-pause{
    position:relative;
    display:inline-block;
    background:url("play.svg");
    background-repeat:no-repeat;
    background-position:center;
    width:35px;
    height:72px;
    margin-left:10px;
    margin-right:15px;
    cursor:pointer;
}
.player .amplitude-playing{ background:url("pause.svg"); background-repeat:no-repeat; background-position:center; }
.player .data {display: inline-block; }
.player .data span { display:block; margin-bottom:2px; width:100%; }
.player .data .title{font-weight:bold;}
.player .data .listeners::after{content:' oyentes';}

header{
    position: sticky;
    top:0px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-20px;
    z-index:20;
    border-bottom:2px solid #bbb;
    font-weight: bold;
    background:#f8f8f8;
}
header img{ display:none;}

header a{ margin: 0 0.6em 0 0; text-decoration:none;}
header a.right{ margin: 0 0 0 0.6em;}

section{margin:0.8em 0;}

h2{
    position: sticky;
    display:block;
    top: 41px;
    padding:10px 0 5px 0;
    background:#f8f8f8;
    width:100%;
    border-bottom:2px solid #bbb;
    z-index:10;
    margin-bottom:0.8em;
}
article{ margin-bottom:2em;}
h2 a{ text-decoration:none; }
h2 a:hover{ background: #444; color: #fff;}
h2 time{float:right; font-weight:normal;}

footer{
    padding:10px 0;
    margin-top:40px;
    z-index:20;
    background:#f8f8f8;
    border-top:2px solid #bbb;
}

